// Black
$miho-black-a: #010204;

// White
$miho-white-a: #D0D0D0;

// Yellow
$miho-yellow-a: #E2B640;

// Green
$miho-green-a: #60C030;
$miho-green-b: #99C030;

// Blue
$miho-blue-a: #3060C0;
$miho-blue-b: #214183;
$miho-blue-c: #648BD8;
$miho-blue-d: #7798D9;

// Red
$miho-red-a: #FD2F4A;